# The first part of the assignment - Use beautifualsoup to scrpy Tornato neighborhood data from wikipedia.

#### import package

In [3]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

#### The wikipeida URL:https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M

In [4]:
url = r'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

#### use request and BeautifulSoup to get postcal data from the URL

In [5]:
html = requests.get(url)

In [6]:
soup = BeautifulSoup(html.text)

#### check tags in html and transform html information to text

In [7]:
soup.find('table').find_all('td')[4].get_text()

'\nM5ADowntown Toronto(Regent Park / Harbourfront)\n\n'

#### use for loop to create the postcal list

In [8]:
output_list = []
for cell_text in soup.find('table').find_all('td'):
    tmp_postcode = cell_text.find('b').get_text()
    a_text = cell_text.find_all('a')
    if len(a_text) > 1:
        tmp_borough = a_text[0].get_text()
        tmp_neighbor = []
        for neighbor_idx in range(1, len(a_text)):
            tmp_neighbor.append(a_text[neighbor_idx].get_text())
        tmp_neighbor = ', '.join(tmp_neighbor)
        output_list.append([tmp_postcode, tmp_borough, tmp_neighbor])
    elif len(a_text) == 1:
        tmp_borough = a_text[0].get_text()
        output_list.append([tmp_postcode, tmp_borough, tmp_borough])

#### transform the postcal list to dataframe

In [9]:
output_table = pd.DataFrame(output_list, columns = ['PostalCode', 'Borough', 'Neighborhood'])
output_table.head()

  PostalCode           Borough                      Neighborhood
0        M3A        North York                         Parkwoods
1        M4A        North York                  Victoria Village
2        M5A  Downtown Toronto         Regent Park, Harbourfront
3        M6A        North York  Lawrence Manor, Lawrence Heights
4        M7A      Queen's Park                      Queen's Park

In [10]:
output_table.shape

(101, 3)

# The Second part of the assignment - Use csv to add coordinates on postcal code table

#### Due to that the geocode package lost connection. Thus, read the coordination data from local.

In [11]:
geo_data = pd.read_csv('Geospatial_Coordinates.csv')
geo_data.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

#### Merge the coordination data to the postal code data, whiche achive in the first part of the assignment.

In [12]:
output_table_new = pd.merge(output_table, geo_data, left_on ='PostalCode', right_on = 'Postal Code')
output_table_new.head()

,PostalCode,Borough,Neighborhood,Postal Code,Latitude,Longitude
0,M3A,North York,Parkwoods,M3A,43.753259,-79.329656
1,M4A,North York,Victoria Village,M4A,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",M5A,43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",M6A,43.718518,-79.464763
4,M7A,Queen's Park,Queen's Park,M7A,43.662301,-79.389494

#### Because the postal code columns are duplicate, I drop one of them.

In [13]:
output_table_new.drop(columns = 'Postal Code', inplace = True)
output_table_new.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Queen's Park,Queen's Park,43.662301,-79.389494

In [14]:
output_table_new.shape

(101, 5)

#### The following cell is for check.

In [15]:
output_table_new[output_table_new['PostalCode']=='M9V']

,PostalCode,Borough,Neighborhood,Latitude,Longitude
87,M9V,Etobicoke,"South Steeles, Silverstone, Jamestown, Mount O...",43.739416,-79.588437